@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<div data-ng-app="orderForm">
    <div class="row" data-ng-controller="orderController">
        <div class="col-lg-3" >
            <div class="form-group">
                <label for="description">Put in a description of the service you need and a Marvel character will be appointed to you</label>
                <textarea class="form-control" data-ng-model="orderText" cols="20" rows="8" data-ng-change="orderTextChanged()" placeholder="Describe your problem"></textarea>
                <div data-ng-show="heroes.length > 0">
                    Max price ($/h)
                    {{priceMin}}
                    <input id="priceRange" data-ng-model="priceRange" type="range" min="{{priceMin}}" data-ng-change="priceRangeChanged()" max="{{priceMax}}" step="50" />
                    {{priceMax}}
                    {{priceRange}}
                </div>
            </div>
        </div>
        <div class="col-lg-3" data-ng-controller="heroController">
            <div class="form-group">
                <label for="marvelChar">Selected Marvel character</label>
                <label id="marvelChar"></label>
                <ul class="unstyled">
                    <li data-ng-repeat="hero in heroes | orderBy: 'Name'">
                        <label for="hero-{{hero.Id}}">{{hero.Name}}</label>
                        <img id="heroImage-{{hero.Id}}" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
            <h2>Your order</h2>
            <h4>Personal information</h4>
            </div>
            <div class="form-group">
                <label for="mapHolder">Your current location is: </label>
                <label id="mapHolder"></label>
            </div>
        </form>
            </div>
    <div class="row">
        <form class="form-inline">
            <div class="col">
                <div class="col-md-2">
            <div class="form-group">
                <label for="_fullName">Full name</label>
                        <input class="form-control" type="text" id="_fullName" placeholder="Jane doe" />
                    </div>
                </div>
            </div>
            <div class="col-md-2">
            <div class="form-group">
                    <label for="age">Age</label><input class="form-control" type="number" id="age" placeholder="99" />
            </div>
            </div>
            <div class="col-md-2">
            <div class="form-group">
                <label for="billingAdress">Billing adress:</label>
                    <textarea rows="2" class="form-control" placeholder="Your home adress"></textarea>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="startDate">Start date of request</label>
                    <input type="datetime" class="form-control" id="startDate" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="endDate">End date</label>
                    <input type="datetime" class="form-control" id="endDate" />
                </div>
            </div>
            <div class="col-md-2">
            <div class="form-group">
                <label for="deliverySectionchk">Is delivery adress the same as billing adress</label>
                <p></p><input type="checkbox" data-ng-model="otherBillingAddress" id="deliverySectionchk" onclick="showMore(this)" />
                <div id="deliverySection" data-ng-show="otherBillingAddress">
                    <label for="deliveryAdress">Delivery adress:</label>
                    <input type="text" class="form-control" id="deliveryAdress" />
                    <label for="zipCode">Zip code</label>
                    <input type="text" class="form-control" id="zipCode" />
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" />
                </div>
            </div>
            </div>
        </form>
        </div>
        <div class="row" style="padding-top:20px">
            <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
    </div>
</div>


