@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    


</div>

<div data-ng-app="orderForm">
    <div class="row">
        <div class="col-lg-2" data-ng-controller="orderController">
            <textarea class="textInput" data-ng-model="orderText" data-ng-change="" placeholder="Describe your problem"></textarea>
        </div>
        <div class="col-lg-2">
			<h3>Your order</h3>
			<p>Your Location</p>
			<p id="mapHolder"></p>

			<p class="currentHero"></p> 
        </div>

    </div>
</div>

